body {
  background: grey;
}

.card__detail {
  background: whitesmoke;
  border-radius: 10px;
  font-family: 'Bai Jamjuree', sans-serif;
  margin: 16px auto;
  padding: 8px;
  width: 60%;
}

.main-header {
  background: black;
  font-family: 'Bai Jamjuree', sans-serif;
  left: 0;
  padding: 8px 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.main-header > div {
  display: inline-block;
  height: 16px;
  vertical-align: middle;
}

.main-nav {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: calc(100% - 74px);
}

.main-nav__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  color: white;
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  color: white;
  font-weight: bold;
  padding: 3px 0;
  text-decoration: none;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  border-bottom: 5px solid white;
  color: red;
}
