button {
  background: rgb(134, 138, 254);
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.5);
  color: white;
  margin: 4px;
  padding: 4px;
  font-size: 16px;
  width: 40%;
}

.code__card {
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.5);
  height: 400px;
  margin: 16px;
  width: 300px;
}

.code__card--header {
  background: rgb(51, 54, 62);
  border-radius: 10px 10px 0 0;
  color: white;
  padding: 8px 16px;
}

.code__card--content {
  padding: 16px;
}

.code__field {
  margin: 0;
}

.code__indent {
  margin: 0;
  margin-left: 16px;
  padding: 4px;
}

.code__indent--double {
  margin: 0;
  margin-left: 32px;
  padding: 4px;
}

[disabled] {
  color: grey;
}

.error {
  color: red;
  margin: 0;
  padding: 4px;
}

.form-state {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.signup {
  background: whitesmoke;
  box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-family: 'Bai Jamjuree', sans-serif;
  margin: auto;
  width: 50%;
}
