.main__footer {
  background: linear-gradient(rgba(51, 54, 62, 0.8), transparent)
    rgb(28, 28, 28);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: 'Bai Jamjuree', sans-serif;
  padding: 8px;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.main__footer p {
  margin: 0;
}
