* {
  box-sizing: border-box;
}

body {
  background: rgb(159, 161, 167);
  margin: 0;
}

.card__content {
  padding: 8px;
}

.card__detail {
  background: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: rgb(28, 28, 28);
  font-family: 'Bai Jamjuree', sans-serif;
  margin: 24px auto;
  /* padding: 8px; */
  width: 70%;
}

.card__header {
  background: rgb(51, 54, 62);
  border-radius: 10px 10px 0 0;
  color: white;
  padding: 8px;
}

.card__side {
  border-radius: 0 10px 10px 0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: 'Bai Jamjuree', sans-serif;
  height: 300px;
  margin: 16px 0;
  width: 80%;
}

.card__side-title {
  font-size: 72px;
  margin: auto;
  padding: 16px;
}

.card__well {
  background: rgb(51, 54, 62);
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-family: 'Bai Jamjuree', sans-serif;
  margin: 16px auto;
  padding: 16px;
  width: 70%;
}

.clearfix {
  clear: both;
}

.code {
  font-family: 'IBM Plex Mono', monospace;
}

hr {
  border: none;
  border-top: 2px solid rgb(89, 89, 89);
  color: #333;
  text-align: center;
}

#install {
  background: rgb(92, 97, 111);
}

main {
  margin-top: 63px;
  margin-bottom: 100px;
}

.main-header {
  background: linear-gradient(rgba(51, 54, 62, 0.8), transparent)
    rgb(28, 28, 28);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-family: 'Bai Jamjuree', sans-serif;
  left: 0;
  padding: 12px 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.main-nav__items {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  color: white;
  margin: 0 16px;
}

.main-nav__item a {
  color: white;
  font-weight: bold;
  padding: 8px 4px;
  text-decoration: none;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  background: white;
  border-radius: 4px;
  color: black;
}

.main__footer {
  background: linear-gradient(rgba(51, 54, 62, 0.8), transparent)
    rgb(28, 28, 28);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: 'Bai Jamjuree', sans-serif;
  padding: 8px;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.main__footer p {
  margin: 0;
}

#overview {
  background: rgb(115, 122, 140);
}

.sub-title {
  color: white;
  margin: 0;
  padding: 8px;
  text-align: center;
}

.title {
  color: white;
  font-size: 48px;
  margin: 0;
  padding: 4px;
  text-align: center;
}

#usage {
  background: rgb(67, 71, 82);
  border-radius: 10px 0 0 10px;
  float: right;
}

@media screen and (max-width: 500px) {
  .card__detail {
    width: 90%;
  }

  .card__well {
    width: 90%;
  }
}
