.button {
  margin: auto;
  padding: 4px;
  width: 50%;
}

.code__card {
  background: lightgrey;
  border-radius: 8px;
  height: 300px;
  margin: 8px;
  padding: 16px;
  width: 300px;
}

.code__field {
  margin: 0;
}

.code__indent {
  margin: 0;
  margin-left: 16px;
  padding: 4px;
}

.code__indent--double {
  margin: 0;
  margin-left: 32px;
  padding: 4px;
}

.error {
  color: red;
  margin: 0;
  padding: 4px;
}

.form-state {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.signup {
  border: 3px solid black;
  border-radius: 8px;
  margin: auto;
  width: 300px;
}
